@charset "UTF-8";
/* CSS Document */



/*Desktop / Global View*/

body
{font-family: 'Raleway', sans-serif;

	background-color: #FFFFFF;
	
	
	
}
	
.col {
	float: left;
	padding: 1%;
}

.col-lg {
	width: 31.3%;
}



.col-lg img {
	width: 100%;
	height: auto;
	display: block;
	
}

.slicknav_menu {
	display: none;
}

#menu {
	float: right;
}

#menu li { 
display: inline-block;
}
#menu li a {
	text-decoration: none;
	color: #03143E;
	padding: 8px;
	font-size: 18px;
	font-weight: 800;
	
	
}

header {
	padding: 10px 20px 20px 20px;
}


.subheading {
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 2px;
	padding-right: 100px;
	color: #000000;
	font-weight: 800;
	font-size: 50px;
	
}


h1 { 
	padding-left: 110px;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-right: 110px;
	color: #010101;
	font-weight: 300;
	font-size: 32px;
	margin-top: -5px;

}

.subheading2 {
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 2px;
	padding-right: 100px;
	color: #000000;
	font-weight: 800;
	font-size: 50px;
}

.subheading3 {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 200px;
	padding-right: 100px;
}
		


/*tablet view*/

@media (max-width: 768px) {


#menu li { 
display: block;
}

	.com-md {
		width: 48%;
	}	
	
	
	
	
	
	
	
/*Mobile view*/

@media (max-width: 422px) {
.slicknav_menu {
	display: block;
	text-align: right;
}
	#menu{display: none;
	}
	.col-sm {
		width: 100%;
	}	
	.col {
		padding: 0px;
	}
	
